&.it-header-sticky {
  &.is-sticky {
    @include media-breakpoint-up(lg) {
      .it-header-navbar-wrapper {
        .menu-wrapper {
          .it-brand-wrapper {
            &.cloned-element {
              .it-brand-text {
                display: block;
                font-size: $header-center-h2-size-mob;
                .it-brand-title {
                  font-weight: $header-center-h2-weight;
                }
              }
            }
          }
          .it-search-wrapper {
            font-weight: 600;
            & > span {
              @extend .pb-lg-2;
            }
          }
        }
      }
    }

    .it-header-navbar-wrapper {
      .menu-wrapper {
        @extend .py-3;
      }
    }

  }
}
