.it-header-wrapper {
  color: $gray-primary;

  .it-header-slim-wrapper {
    .it-header-slim-wrapper-content {
      .navbar-brand {
        font-weight: 600;
      }
      a {
        &.dropdown-toggle {
          text-transform: inherit;
          font-weight: 600;
        }
      }
      @include media-breakpoint-down(lg) {
        .it-header-slim-right-zone {
          .btn-full {
            margin-top: inherit;
            margin-bottom: inherit;
          }
        }
        a#dropdown-account {
          .rounded-icon {
            width: 2em;
            height: 2em;
            border-radius: 24px;
            .icon {
              width: 16px;
              height: 16px;
            }
          }
          .icon-expand {
            display: none;
          }
        }
      }
    }
  }

  &.shadow {
    box-shadow: 0 0.1rem 1.55rem rgba($black, .1) !important;
  }

  &.it-header-sticky {
    &.is-sticky {
      @include media-breakpoint-up(lg) {
        .it-header-navbar-wrapper {
          .menu-wrapper {
            .it-brand-wrapper {
              &.cloned-element {
                .it-brand-text {
                  display: block;
                  font-size: $header-center-h2-size-mob;
                  .it-brand-title {
                    font-weight: $header-center-h2-weight;
                  }
                }
              }
            }
            .it-search-wrapper {
              font-weight: 600;
              & > span {
                @extend .pb-lg-2;
              }
            }
          }
        }
      }

      .it-header-navbar-wrapper {
        .menu-wrapper {
          @extend .py-3;
        }
      }

    }
  }

  .it-nav-wrapper {
    .it-header-center-wrapper {
      .it-header-center-content-wrapper {
        .it-brand-wrapper {
          .it-brand-text {
            .it-brand-title {
              font-weight: $header-center-h2-weight;
            }
            .it-brand-tagline,
            .it-brand-comune {
              font-size: $header-center-h2-size-mob;
            }
            @include media-breakpoint-up(lg) {
              .it-brand-tagline,
              .it-brand-comune {
                font-size: $header-center-h3-size;
              }
            }
          }
        }

        .it-right-zone {
          .it-socials,
          .it-search-wrapper {
            & > span {
              font-weight: 600;
            }
          }
        }

      }
    }

    .it-header-navbar-wrapper {
      .menu-wrapper {
        .social-mobile-menu {
          padding-left: 42px;
          padding-right: 42px;
          span {
            font-weight: 600;
          }
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            li {
              margin: 12px 12px 12px 0;
            }
          }
        }
      }
      &.theme-light-desk .navbar .navbar-collapsable .navbar-nav {
        li a.nav-link {
          @extend .fw-semibold;
        }
        > li:nth-child(1) a.nav-link {color: $bi-school;}
        > li:nth-child(2) a.nav-link {color: $bi-services;}
        > li:nth-child(3) a.nav-link {color: $bi-news;}
        > li:nth-child(4) a.nav-link {color: $bi-learning;}
      }
    }
  }

}
