.it-header-wrapper {
  color: $gray-primary;

  .it-header-slim-wrapper {
    .it-header-slim-wrapper-content {
      .navbar-brand {
        font-weight: 700;
      }
    }
  }

  &.shadow {
    box-shadow: 0 0.1rem 1.55rem rgba($black, .1) !important;
  }

  &.it-header-sticky {
    &.is-sticky {
      @include media-breakpoint-up(lg) {
        .it-header-navbar-wrapper {
          .menu-wrapper {
            .it-brand-wrapper {
              &.cloned-element {
                .it-brand-text {
                  display: block;
                  font-size: $header-center-h2-size-mob;
                  .it-brand-title {
                    font-weight: $header-center-h2-weight;
                  }
                }
              }
            }

            .it-search-wrapper {
              font-weight: 600;
              a {
                &.rounded-icon {
                  background-color: transparent;
                  &:hover {
                    background: inherit;
                  }
                }
              }
            }

          }
        }
      }

      .it-header-navbar-wrapper {
        .menu-wrapper {
          @extend .pt-3;
          @extend .pb-3;
        }
      }

    }
  }

  .it-header-center-wrapper {
    .it-header-center-content-wrapper {
      .it-brand-wrapper {
        .it-brand-text {
          .it-brand-title {
            font-weight: $header-center-h2-weight;
          }
          .it-brand-tagline,
          .it-brand-comune {
            font-size: $header-center-h2-size-mob;
          }

          @include media-breakpoint-up(lg) {
            .it-brand-tagline,
            .it-brand-comune {
              font-size: $header-center-h3-size;
            }
          }
        }
      }

      .it-right-zone {
        .it-socials,
        .it-search-wrapper {
          & > span {
            font-weight: 600;
          }
        }
      }
    }
  }

  .it-header-navbar-wrapper.theme-light-desk .navbar .navbar-collapsable .navbar-nav {
    li a.nav-link {
      @extend .fw-semibold;
    }

    > li:nth-child(1) a.nav-link {
      color: $bi-school;
    }
    > li:nth-child(2) a.nav-link {
      color: $bi-services;
    }
    > li:nth-child(3) a.nav-link {
      color: $bi-news;
    }
    > li:nth-child(4) a.nav-link {
      color: $bi-learning;
    }
  }

}

