.it-header-slim-wrapper {
  .it-header-slim-wrapper-content {
    .navbar-brand {
      @extend .fw-semibold;
    } // end .navbar-brand

    a {
      &.dropdown-toggle {
        @extend .fw-semibold;
        text-transform: inherit;
      }
    } // end a

    @include media-breakpoint-up(lg) {
      .it-header-slim-right-zone {
        .btn-full {
          padding-right: 0 !important;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      .it-header-slim-right-zone {
        .btn-full {
          margin-top: inherit;
          margin-bottom: inherit;
        }
      }
      a#dropdown-account {
        .rounded-icon {
          width: 2em;
          height: 2em;
          border-radius: 24px;
          .icon {
            width: 16px;
            height: 16px;
          }
        }
        .icon-expand {
          display: none;
        }
      }
    } // end media-breakpoint-down(lg)

  } // end .it-header-slim-wrapper-content
} // end .it-header-slim-wrapper
