.it-header-navbar-wrapper {
  &.theme-light-desk {
    .navbar {
      .navbar-collapsable {
        .menu-wrapper {
          .brand-mobile-menu {
            .it-brand-wrapper {
              padding-left: 18px;
              a {
                color: $header-center-theme-light-text-color;

                .icon {
                  width: $header-center-icon-size-mob;
                  height: $header-center-icon-size-mob;
                  fill: $header-center-theme-light-text-color;
                  margin-right: $header-center-icon-margin-mob;
                }

                .it-brand-title {
                  @extend .fw-semibold;
                }
              }
            } // end .it-brand-wrapper
          } // end .brand-mobile-menu

          .navbar-nav:not(.navbar-secondary) {
            li a.nav-link,
            li.menu-title > a.list-item span {
              font-weight: 600;
            }

            li.menu-title {
              border-bottom: 1px solid #e5e5e5;
              padding-bottom: calc($dropdown-padding-y - 0.2rem);
            }

            > li.section-school {
              a.nav-link,
              li.menu-title > a.list-item span {
                color: $bi-school;
              }
              a.nav-link svg {
                fill: $bi-school;
              }
            }

            > li.section-services {
              a.nav-link,
              li.menu-title > a.list-item span {
                color: $bi-services;
              }
              a.nav-link svg {
                fill: $bi-services;
              }
            }

            > li.section-news {
              a.nav-link,
              li.menu-title > a.list-item span {
                color: $bi-news;
              }
              a.nav-link svg {
                fill: $bi-news;
              }
            }

            > li.section-learning {
              a.nav-link,
              li.menu-title > a.list-item span {
                color: $bi-learning;
              }
              a.nav-link svg {
                fill: $bi-learning;
              }
            }

            @include media-breakpoint-down(lg) {
              li.nav-item,
              ul li:not(:last-child) {
                border-bottom: 1px solid #e5e5e5;
              }
              .nav-item {
                a.nav-link {
                  padding-left: 0;
                  padding-right: 0;
                  font-size: 1.25rem;
                  &.show {
                    text-decoration: underline;
                  }
                  .icon {
                    width: 24px;
                    height: 24px;
                    float: right;
                  }
                }
                .dropdown-menu .link-list-wrapper {
                  padding-left: 0;
                  padding-right: 0;
                  margin-bottom: 0;
                  ul li a {
                    padding-top: 6px;
                    padding-bottom: 6px;
                    padding-left: 0;
                    font-size: 1.25rem;
                  }
                  li.menu-title a span {
                    color: $gray-primary;
                  }
                }
              }
            }

            @include media-breakpoint-up(lg) {

              li a.nav-link svg {
                margin-top: 6px;
              }

              //dropdown
              .dropdown-menu {
                background: $navigation-light-bg-color;
                border-top-left-radius: $dropdown-menu-radius;
                border-top-right-radius: $dropdown-menu-radius;

                &:before {
                  background: $navigation-light-bg-color;
                }

                .link-list-wrapper {
                  ul {
                    li {
                      a {
                        &.list-item.active {
                          color: $navigation-light-text-color;
                          span {
                            color: $navigation-light-text-color;
                          }
                        }
                        span, i, h3 {
                          color: $navigation-light-text-color;
                        }
                        svg {
                          fill: $navigation-light-text-color;
                        }
                      }

                      h3 {
                        color: $navigation-light-text-color;
                      }

                      .divider {
                        background: $navigation-light-separator-color;
                      }
                    } // end li
                  } // end ul
                } // end .link-list-wrapper

                &.show {
                  top: calc(100% - 6px);
                }
              } // end .dropdown-menu
            } // end media-breakpoint-up(lg)
          } // end .navbar-nav

          .social-mobile-menu {
            padding-left: 18px;
            padding-right: 18px;

            span {
              @extend .fw-semibold;
            }

            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              display: flex;

              li {
                margin: 12px 12px 12px 0;
              }
            }
          } // end .social-mobile-menu

          .navbar-secondary {
            @include media-breakpoint-up(lg) {
              .nav-item {
                .nav-link {
                  span {
                    font-size: .96rem;
                  }
                }
                &:last-child {
                  .nav-link {
                    padding-right: 16px;
                  }
                }
              }
              // link-list
              .link-list-wrapper {
                a {
                  color: $white;
                }
              }
              // dropdown
              .dropdown-menu {
                &.show {
                  top: calc(100% - 19px);
                }
              }
            }
            @include media-breakpoint-down(lg) {
              li a.nav-link {
                padding-left: 0;
                padding-right: 0;
                &.dropdown-toggle svg.icon {
                  fill: $gray-primary;
                  width: 24px;
                  height: 24px;
                }
              }
              .dropdown-menu {
                .link-list-wrapper {
                  padding-left: 0;
                }
              }
            }
          } // end .navbar-secondary

        } // end .menu-wrapper
      } // end .navbar-collapsable
    } // end .navbar
  } // end .theme-light-desk
} // end .it-header-navbar-wrapper
