{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
  {% set _id = 'view-' ~ view.storage.id|clean_id ~ '--' ~ 'view-display-id-' ~ view.current_display|clean_id %}
  {% set _clean_title = title|render|striptags|trim|clean_id %}
  {% set _tab_pane_attributes = create_attribute()
    .addClass([
      'tab-pane',
      'px-3',
      'py-0',
      'fade',
      rows.0 ? 'show',
      rows.0 ? 'active'
    ])
    .setAttribute('id', _id ~ '--pane-' ~ _clean_title)
    .setAttribute('role', 'tabpanel')
    .setAttribute('aria-labelledby', _id ~ '--tab-' ~ _clean_title)
  %}
  <div{{ _tab_pane_attributes }}>
    {% embed '@bi-bcl/accordion/accordion.html.twig' with {
      left_icon: true,
      accordion_classes: ['accordion-large', 'bg-bluelectric']
    } %}
      {% block accordionItems %}
        {% for row in rows %}
          {{- row.content -}}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  </div>
{% endapply %}
