<nav class="navbar it-navscroll-wrapper navbar-expand-lg it-bottom-navscroll it-right-side" data-bs-navscroll>
  <button
    class="custom-navbar-toggler"
    type="button"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    data-bs-toggle="navbarcollapsible"
    data-bs-target="#navbarNav"
  >
    <span class="it-list"></span>
  </button>
  <div class="progress custom-navbar-progressbar">
    <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="navbar-collapsable" id="navbarNav">
    <div class="overlay"></div>
    <a class="it-back-button" href="#" role="button">
      <svg class="icon icon-sm icon-primary align-top">
        <use href="/bootstrap-italia/dist/svg/sprites.svg#it-chevron-left" xlink:href="/bootstrap-italia/dist/svg/sprites.svg#it-chevron-left"></use>
      </svg>
      <span>Indietro</span>
    </a>
    <div class="menu-wrapper">
      <div class="link-list-wrapper">
        <h3>{{ 'Page index'|t }}</h3>
        <div class="progress">
          <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div data-toc></div>
      </div>
    </div>
  </div>
</nav>
