//
// Cards
// https://github.com/italia/design-scuole-pagine-statiche/blob/main/src/assets/css/scuole.css#L10995
// --------------------------------------------------
.btn {
  &.btn-img {
    position: relative;
    z-index: 0;
    padding: 0;
    svg, img {
      height: 24px;
      width: auto;
      float: left;
      margin: 10px 20px 10px 20px;
    }
    span {
      display: block;
      float: left;
      position: relative;
      z-index: 0;
      padding: 10px 40px 10px 25px;
      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        content: "";
        background-color: $white;
        width: 1px;
        height: 100%;
        opacity: 0.2;
      }
    }
  }
  &.btn-action {
    background-color: $secondary-green;
    color: $white;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

// Fornito da bi2
//.btn-xs {
//  padding-top: 5px;
//  padding-bottom: 7px;
//  line-height: 1;
//  &.btn-rounded {
//    border-radius: 26px;
//    padding-left: 10px;
//    padding-right: 10px;
//  }
//}

// In bi2 nessun bottone ha l'ombra,
// se serve si aggiunge con 'shadow'
//.btn-primary {
//  box-shadow: none;
//}

// Inizio aggiunta in in 2.3.0 L11047
.section.bg-bluelectricgradient {
  h1, .h1, h2, .h2, h3, .h3, p {
    color: #fff;
  }
}
// Fine

// Fornito dai mixin di bi2
//.btn-outline-white {
//  &:hover {
//    background-color: $white;
//    color: $black;
//  }
//  .bg-bluedark & {
//    &:hover {
//      color: $bluedark !important;
//    }
//  }
//}

// Fornito dai mixin di bi2
//.btn-bluelectric {
//  .bg-bluelectricdark & {
//    background-color: lighten($bluelectric, 5%);
//  }
//  .bg-bluelectric & {
//    background-color: darken($bluelectric, 15%);
//  }
//  &:hover {
//    background-color: darken($bluelectric, 20%);
//  }
//}
