{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 * - comune: il comune della scuola
 * - provincia: la provincia
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
  {% set link_attributes = create_attribute() %}
  {% set link_attributes = link_attributes
    .setAttribute('href', path('<front>'))
    .addClass(['d-flex','align-items-center'])
    .setAttribute('aria-label', 'Home'|t ~ ' ' ~ site_slogan|render ~ ' ' ~ site_name|render ~ ' ' ~ comune|render)
    .setAttribute('title', 'Go to home page'|t)
    .setAttribute('rel', 'home')
    .setAttribute('data-focus-mouse', 'false')
  %}

  {% embed '@bootstrap_italia/region/brand/block--system-branding-block.html.twig' with {
    link_attributes: link_attributes
  } %}
    {% block brandText %}
      {% if site_name or site_slogan or comune %}
        <div class="it-brand-text">
          {% if site_slogan %}
            <div class="it-brand-tagline">{{ site_slogan }}</div>
          {% endif %}
          {% if site_name %}
            <div class="it-brand-title">{{ site_name }}</div>
          {% endif %}
          {% if comune %}
            <div class="it-brand-comune">{{ comune }}</div>
          {% endif %}
        </div>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endapply %}
