.bef-exposed-form {
  .fieldset-legend {
    @extend h6;
  }
  .fieldset-wrapper {
    @extend .pt-2;
    @extend .px-2;
  }

  .form-checkboxes {
    .bef-checkbox-inline & {
      display: flex;
      flex-wrap: wrap;
      .form-item {
        margin-right: 1rem;
      }
      .form-check,
      .form-check + .form-check {
        margin-top: 0.5rem;
      }
    }
  }

  // Fix upgrade bootstrap-italia 2.12.1
  .form-check {
    [type="checkbox"]:checked + label::before {
      transform-origin: 100% 0%;
    }

    [type='checkbox'],
    [type='radio'] {
      & + label {
        font-weight: $font-weight-normal;
        padding-left: 2.5rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        padding-top: 0.1rem;
        font-size: 1.225rem;
        &::after, &:before {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}
