.bef-exposed-form {
  .fieldset-legend {
    @extend h6;
  }
  .fieldset-wrapper {
    @extend .px-2;
  }

  .form-checkboxes {
    .bef-checkbox-inline & {
      display: flex;
      flex-wrap: wrap;
      .form-item {
        margin-right: 1rem;
      }
    }
  }
}
