//mobile
.it-grid-item-wrapper {
  // text
  .it-griditem-text-wrapper {

    .it-griditem-text {
      font-size: $grid-item-text-size;
      font-weight: $font-weight-normal;
      line-height: 1.267rem;
    }
  }
}
