.point-list-wrapper {
  .point-list {
    .point-list-aside {
      justify-content: flex-start;
      &::after {
        top: 3.6rem;
      }

      .point-date,
      .point-month {
        flex: inherit;
      }
    }
  }
}
