//Navigation
$navbar-bg-color: $white;

// ##### HEADER #####

// Header Slim
$header-slim-bg-color: $petrol;
$header-slim-text-color: $white;
$header-slim-brand-text-size: .777777em;

// Header center
$header-center-text-color: $dark;
$header-center-h2-size: 1.17em;
$header-center-h2-size-mob: 0.875em;
$header-center-h2-weight: 700;
$header-center-h3-size: 1.17em;
$header-center-search-icon-size: $v-gap * 2;
// Header Center theme light
$header-center-theme-light-text-color: $gray-primary;
