/*** colors_var.scss ***/
// Text
$body-color: $petrol-dark-21;
$color-text-base: $gray-800; // color-gray-10

/*** _variables.scss ***/
//Navigation
$navbar-bg-color: $white;

// ##### HEADER #####

// Header Slim
$header-slim-bg-color: $petrol;
$header-slim-text-color: $white;
//$header-slim-brand-text-size: .777777em; // aggiornamento a bi 2.7

// Header center
$header-center-text-color: $dark;
$header-center-h2-size: 1.313rem;
$header-center-h2-size-mob: 0.875rem;
$header-center-h2-weight: 700;
$header-center-h3-size: 1.313rem;
$header-center-icon-size-mob: 58px;
$header-center-icon-margin-mob: 15px;
$header-center-search-icon-size: $v-gap * 2;
// Header Center theme light
$header-center-theme-light-text-color: $dark;

// ##### FOOTER #####
$footer-top-background: #5a768a;
$footer-bottom-background: #5a768a;
