// ##### HEADER #####

// Header Slim
$header-slim-bg-color: $petrol;
$header-slim-text-color: $white;
$header-slim-brand-text-size: .875rem;

// Header center
$header-center-text-color: $gray-primary;
$header-center-h2-size: 1.313rem;
$header-center-h2-size-mob: 0.875rem;
$header-center-h2-weight: 700;
$header-center-h3-size: 1.313rem;
