/**
 * Main custom SCSS
 * Use this folder and file to manage your custom styles.
 */

@import "../fonts";

h1 {@extend .fw-semibold;}
.scuola {color: $bi-school;}
.servizi {color: $bi-services;}
.novita {color: $bi-news;}
.didattica {color: $bi-learning;}

@import "components/chip";

@import "layout/header";

@import "content-type/article";
