/**
 * Custom bootstrap-italia variables
 * Use as reference: node_modules/bootstrap-italia/src/scss/_variables.scss
 * For primary colors see: _palette.scss
 *
 * This file is automatically imported into 'theme.scss'.
 */

// scss-docs-start color-variables
// I colori commentati vengono ereditati da bootstrap-italia 2.
// Rispetto al tema scuola 2.3.0 sono molto simili, ma hanno
// l'upgrade alla versione 2 di bootstrap-italia
//$blue:    #0066cc !default;
//$indigo:  #6610f2 !default;
//$purple:  #6f42c1 !default;
//$pink:    #b21dd0 !default;
//$red:     #d9364f !default;
//$orange:  #a66300 !default;
//$yellow:  #ffc107 !default;
//$green:   #008758 !default;
//$teal:    #20c997 !default;
//$cyan:    #0dcaf0 !default;

$petrol:           #51758d !default;
$petrol-dark-21:   mix(#160009, $petrol, 21%) !default;  // #455c71 == #455c71
$redbrown:         #d1344c !default;
$redbrown-dark:    mix($redbrown, $petrol, 10%) !default;
$purplelight:      #b21dd0 !default;
$purplelight-dark: mix($purplelight, $petrol, 10) !default;
$greendark:        #0e865c !default; // diverso in 2.3.0 originale 0e8a5c
$bluelectric:      #0d00ff !default;
$bluelectric-dark: #0a00cb !default;
$bluedark:         #001a33!default; // #30465c
$bluedark-petrol:  mix(#00112c, $petrol, 52%) !default; // #27415b == #27415b
$secondary-green:  #00615e !default;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
//$primary:       $blue !default;
$secondary:     #5c6f82 !default;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          #17324d !default;
// scss-docs-end theme-color-variables

// Colori delle sezioni
$bi-school: $redbrown !default;
$bi-services: $purplelight !default;
$bi-news: $greendark !default;
$bi-learning: $bluelectric !default;

.scuola {color: $bi-school;}
.servizi {color: $bi-services;}
.novita {color: $bi-news;}
.didattica {color: $bi-learning;}
