/**
 * Custom bootstrap-italia variables
 * Use as reference: node_modules/bootstrap-italia/src/scss/_variables.scss
 * For primary colors see: _palette.scss
 *
 * This file is automatically imported into 'theme.scss'.
 */

// scss-docs-start color-variables
$blue:    #0d00ff !default;
$pink:    #b21dd0 !default;
$red:     #d1344c !default;
$green:   #0e865c !default;
// scss-docs-end color-variables

// Colori delle sezioni
$bi-learning: $blue !default;
$bi-services: $pink !default;
$bi-school: $red !default;
$bi-news: $green !default;
