/**
 * Custom bootstrap-italia variables
 * Use as reference: node_modules/bootstrap-italia/src/scss/_variables.scss
 * For primary colors see: _palette.scss
 *
 * This file is automatically imported into 'theme.scss'.
 */

// scss-docs-start color-variables
$bi-school: #d1344c !default;
$bi-services: #b21dd0 !default;
$bi-news: #0e865c !default;
$bi-learning: #0d00ff !default;
// scss-docs-end color-variables
