.article-title {
  position: relative;
  z-index: 0;
  height: 480px;
  display: flex;
  align-items: center;

  .title-img {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #455b71;
    background-size: cover;
    background-attachment: scroll;
  }
}

.article-footer {
  font-size: .88rem;
  border-top: 1px solid #e7eaed;
  padding: 30px 0 0 0;
  margin: 25px 0 0 0;
}
